<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon aria-hidden="false" aria-label="Example home icon"> home
        </mat-icon>
        <span> <a mat-button routerLink="/">Home</a></span>
        <span class="spacer"></span>
        <a mat-button routerLink="">Logout</a>
    </mat-toolbar-row>
</mat-toolbar>



<a mat-button routerLink="/prekg">
    <mat-card class="example-card">
        <img mat-card-image src="https://www.maranausd.org/cms/lib/AZ02214357/Centricity/Domain/130/Preschool.jpg" class="md-card-image" alt="pre-kg" />
    </mat-card>
</a>
<br>
<a mat-button routerLink="/higher">
    <mat-card class="example-card">
        <img mat-card-image src="https://cdn2.sportngin.com/attachments/photo/9262-140205376/Spring_XV___HS_Header.jpg" class="md-card-image" alt="higher-section" />
    </mat-card>
</a>