<router-outlet></router-outlet>












































<!-- <ul>
    <li *ngFor="let hero of videoId">
        <video controls>
            <source src="https://drive.google.com/uc?export=download&id={{hero}}" type='video/mp4'>
        </video>
    </li>
</ul> -->






<!-- <video controls>
    <source src="https://drive.google.com/uc?export=download&id=1vQQ0ClfJjY_sCftkrMFQiGNWmaYTkDVh" type='video/mp4'>
</video>

<iframe width="45%" height="30%" src="https://drive.google.com/file/d/1-dbgqnQlcfHmB_dnf3qI4tmUOeQsqZUS/preview"></iframe> -->
<!-- <video id="video" width='320' height='240' controls>
    <source src="https://drive.google.com/uc?export=download&
    id=1-dbgqnQlcfHmB_dnf3qI4tmUOeQsqZUS" type="video/mp4">
</video>
<video id="video" width='320' height='240' controls>
    <source src="https://drive.google.com/file/d/1-dbgqnQlcfHmB_dnf3qI4tmUOeQsqZUS/view?usp=sharing" type="video/mp4">
</video> -->

<!-- <video controls>
    <source src="https://drive.google.com/uc?export=download&id=1Kyg0XBDSdVuFOFmrFC0qPEJfLCisLgmW" type='video/mp4'>
</video>
<video controls>
    <source src="https://drive.google.com/file/d/1vQQ0ClfJjY_sCftkrMFQiGNWmaYTkDVh/view?usp=sharing" type='video/mp4'>
</video> -->
<!-- <mat-card-actions>
    <button mat-raised-button (click)="chemistry1()" color="primary">chemistry</button>
</mat-card-actions> -->